{% extends 'index.html' %}
{% load static %}
{% block content %}
    <title>Все фильмы</title>
    <link rel="stylesheet" href="{% static 'css/maine.css' %}">
    <link rel="stylesheet" href="{% static 'css/podpiska.css' %}">
    <h2>ПОДПИСКИ:</h2>
    {% for one in podpiska %}
        <h3 class="main">{{ one.name }}</h3>
        <div class="cont">
        {% for kino in one.kino_set.all %}
            <div class="card">
                <img src="{% static kino.image %}" alt="">
                <h1>{{ kino.title }}</h1>
                <h4>{{ kino.genre }}</h4>
                    {% if not user.username %}
                    <a href="{% url 'prosmotr' kino.id one.id 0 %}">
                        <button>СМОТРЕТЬ</button>
                    </a>
                    {% else %}
                    <a href="{% url 'prosmotr' kino.id one.id user.id %}">
                    <button>СМОТРЕТЬ</button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}